.osw3-plugin {
    margin-bottom: 20px;
}
.osw3-plugin > label {
    font-weight: bold;
    display: block;
    cursor: default;
    margin-bottom: 10px;
}

.osw3-plugin input[type=text],
.osw3-plugin input[type=email],
.osw3-plugin input[type=url],
.osw3-plugin input[type=number],
.osw3-plugin input[type=date],
.osw3-plugin input[type=time],
.osw3-plugin input[type=tel],
.osw3-plugin select,
.osw3-plugin textarea
{
    padding: 10px;
    width: 100%;
}
.osw3-plugin input[type=text],
.osw3-plugin input[type=email],
.osw3-plugin input[type=url],
.osw3-plugin input[type=number],
.osw3-plugin input[type=date],
.osw3-plugin input[type=time],
.osw3-plugin input[type=tel],
.osw3-plugin textarea
{
    height: auto !important;
}

.osw3-plugin textarea
{
    min-height: 128px;
}

.osw3-plugin .has-error
{
    color: #ff0000;
    font-weight: 600;
}
.osw3-plugin input[type=text].has-error,
.osw3-plugin input[type=email].has-error,
.osw3-plugin input[type=url].has-error,
.osw3-plugin input[type=number].has-error,
.osw3-plugin input[type=date].has-error,
.osw3-plugin input[type=time].has-error,
.osw3-plugin input[type=tel].has-error,
.osw3-plugin select.has-error,
.osw3-plugin textarea.has-error
{
    border-color: #ff0000;
}




#contact_meta.postbox
{
    border: none !important;
}
#contact_meta .handlediv,
#contact_meta .hndle
{
    display: none;
}
#contact_meta .inside
{
    margin: 0;
    padding: 0;
}

#contact_meta input[type=text],
#contact_meta input[type=email],
#contact_meta input[type=url],
#contact_meta input[type=number],
#contact_meta input[type=date],
#contact_meta input[type=time],
#contact_meta input[type=tel],
#contact_meta select,
#contact_meta textarea
{
    color: #333333;
}